PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/leadflow-ai
JWT_SECRET=your_jwt_secret_key_here
GOOGLE_CLIENT_ID=403708440341-0lqg7bftecduhmon185ae9up8dca04e8.apps.googleusercontent.com
ENCRYPTION_KEY=your_encryption_key_needs_32bytes
CLIENT_URL=http://localhost:5173
